.navigation
{
	
	background: #CCCCCC;
	height: 75px;
}

.navigation ul
{
	list-style: none;
}



.navigation ul li
{
	float: right;
	width: 200px;
	text-align: center;    
    line-height: 75px;
    vertical-align:middle;    
}

.navigation ul li a
{
	display: block;
	padding-left:10px;
	padding-right:10px;
    text-decoration: none;
    background: #CCCCCC;
    color: #000066;
    
}

.navigation ul li a:hover
{
	color:#ffffff;
	background: #999999;    
}

.navigation ul li ul
{
	display: none;
}
    
.navigation ul li:hover ul
{
    display: block;
}








.content
{
	background-image: url("https://lh3.googleusercontent.com/-xFUhf1-JB5E/UY2aWJxVPgI/AAAAAAAAAbA/zWUXCU53o2w/w759-h569-no/IMG_0950.jpg");
                    margin: "auto";
                    opacity: 0.5;
}
